.trends {
  padding: 20px;
  color: white;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin: 5px 0;
  background: #1f2937;
}

.row.UP {
  border-left: 4px solid green;
}

.row.DOWN {
  border-left: 4px solid red;
}

.row.STABLE {
  border-left: 4px solid gray;
}